.sh-header__avatar span.grade {
  font-size: 12px;
  text-transform: none;
}

.sh-media__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  border: solid 2px #ffffff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.sh-media__btn::before {
  position: absolute;
  display: block;
  content: "";
  border: solid 7px transparent;
  border-left: solid 12px #ffffff;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -7px;
}
.sh-video__player {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.sh-video__player video {
  display: block;
  width: 100%;
  object-fit: cover;
}
.sh-audio {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 479px) {
  .sh-audio {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.sh-audio__player {
  position: relative;
  min-width: 156px;
  border-radius: 6px;
  overflow: hidden;
}
@media only screen and (min-width: 480px) {
  .sh-audio__player {
    margin-right: 28px;
  }
}
@media only screen and (max-width: 479px) {
  .sh-audio__player {
    margin-bottom: 10px;
  }
}
.sh-audio__player::before {
  content: "";
  display: block;
  padding-top: 156px;
}
.sh-audio__player img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
}
.sh-audio__player audio {
  display: none !important;
}
.sh-audio__info {
  padding-top: 8px;
}
.sh-audio__info p {
  font-size: 16px;
}
.sh-audio__info div,
.sh-audio__info span {
  color: #9fa3ac;
}
.sh-audio__info div,
.sh-audio__info p,
.sh-audio__info span {
  font-weight: 300;
}
.sh-audio__range {
  margin-top: 20px;
}
.sh-audio.playing .sh-media__btn::before {
  border: none;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
}
.sh-rating__info {
  padding-top: 24px;
}
.sh-rating__info span {
  color: #9fa3ac;
}
.sh-rating__progress {
  margin-top: 40px;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-rating__progress span {
  color: #000000;
  font-size: 18px;
}
.tt-progress {
  margin-right: 16px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
.tt-progress canvas {
  width: 46px;
  vertical-align: top;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.tt-progress strong {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -9px;
  text-align: center;
  font-weight: 600;
  color: #000000;
}
.sh-offer__info {
  padding-top: 24px;
}
.sh-offer__info span {
  color: #9fa3ac;
}
.sh-offer__btns {
  margin-top: 22px;
}
.sh-offer__btns .btn:not(:first-child) {
  margin-left: 30px;
}
.sh-voting__range {
  position: relative;
  height: 34px;
  border-radius: 6px;
  background-color: #e6e9f1;
  overflow: hidden;
}
.sh-voting__range > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #8db5e9;
}
.sh-voting__range > p {
  position: absolute;
  top: 6px;
  left: 12px;
  font-weight: 300;
}
.sh-voting label {
  position: relative;
  display: block;
  padding-left: 30px;
}
.sh-voting label:not(:first-child) {
  margin-top: 16px;
}
.sh-voting label span {
  position: absolute;
  display: block;
  left: 0;
  top: 8px;
  margin-right: 14px;
  border: solid 1px #9fa3ac;
  border-radius: 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sh-voting label span::after {
  content: "";
  display: block;
  border-radius: 50%;
  background-color: #63616b;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
}
.sh-voting label input {
  display: none;
}
.sh-voting label input:checked + span {
  opacity: 1;
  filter: alpha(opacity=100);
}
.sh-compare__images {
  position: relative;
  margin: 0 -5px;
  margin-bottom: 22px;
  overflow: hidden;
}
.sh-compare__images::before {
  position: absolute;
  display: block;
  width: 32px;
  content: "vs";
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -9px;
  background-color: #d62162;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: calc(6px * 0.6);
  text-align: center;
}
.sh-compare__images > div {
  display: block;
  float: left;
  width: 50%;
  padding: 0 5px;
}
.sh-compare__images > div img {
  border-radius: calc(6px * 1.4);
}
.sh-compare span {
  color: #63616b;
  display: block;
}
.sh-compare__price {
  font-weight: 600;
  font-size: 18px;
  color: #000000 !important;
}
@media only screen and (min-width: 480px) {
  .sh-compare__left {
    text-align: right;
  }
}
.sh-compare__center {
  text-align: center;
}
.sh-compare__architecture {
  margin: 22px 0 18px;
  padding: 10px 0;
  text-align: center;
  border-top: solid 1px #f3f3f3;
  border-bottom: solid 1px #f3f3f3;
}
.sh-compare__architecture i {
  display: inline-block;
  width: 0;
  margin-left: 8px;
  margin-top: 4px;
  border: solid 5px transparent;
  border-top-color: #63616b;
  vertical-align: middle;
}
.sh-compare__section:not(:first-child) {
  margin-top: 16px;
}
.sh-compare__section p {
  text-align: center;
}
.sh-compare__progress-green,
.sh-compare__progress-red {
  margin-bottom: 4px;
  display: inline-block;
}
.sh-compare__progress-green {
  border-bottom: solid 2px #3cb878;
}
.sh-compare__progress-red {
  border-bottom: solid 2px #e25c5c;
}

/* .sh-content-features h4 {
  font-family: "lemonmilk", sans-serif;
} */

.sh-content-head {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.sh-content-head.filtre {
  padding-top: 0px;
  padding-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: -30px;
}

.sh-content-head__flex-off {
  display: block;
}
.sh-content-head__btn-calendar {
  position: relative;
}
.sh-content-head__btn-calendar.active i {
  color: #000000;
}
@media only screen and (min-width: 769px) {
  .sh-content-head__btn-calendar.active i {
    z-index: 100001;
  }
}
.sh-content-head__btn-calendar i::before {
  display: block;
  width: 20px;
  margin-left: 1px;
}
.sh-content-head__btn-prev i {
  margin-right: 30px;
}

.sh-content-head__btn-next span {
  margin-right: 30px;
}
@media only screen and (max-width: 479px) {
  .sh-content-head__btn-next span {
    display: none;
  }
}
.sh-content-head .row [class^="col-"] {
  align-items: center;
  justify-content: space-around;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-content-head__navigation {
  width: 100%;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head__navigation {
    margin-bottom: 20px;
  }
}
.sh-content-head h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sh-content-head h1.big {
  font-size: 26px;
}

.sh-content-head h2.big {
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  .sh-content-head h1 {
    margin: 0 auto;
    text-align: center;
    order: 1;
  }
}
@media only screen and (max-width: 479px) {
  .sh-content-head h1 {
    font-size: 18px;
  }
}
.sh-content-head h1 a {
  border-bottom: solid 2px #000000;
}

.sh-content-head__btn-comments {
  background-color: #eef3f6;
}
.sh-content-head__btn-comments:visited,
.sh-content-head__btn-comments:active,
.sh-content-head__btn-comments:link {
  color: #63616b;
}
.sh-content-head__btn-favorites {
  background-color: #eef3f6;
}
.sh-content-head__btn-favorites:visited,
.sh-content-head__btn-favorites:active,
.sh-content-head__btn-favorites:link {
  color: #63616b;
}
.sh-content-head__btns {
  /* margin-top: 10px;
  margin-bottom: 10px; */
}
@media only screen and (min-width: 1025px) {
  .sh-content-head__btns {
    /* //margin-left: 150px; */
  }
}
@media only screen and (max-width: 768px) {
  .sh-content-head__btns {
    width: 100%;
    order: 1;
  }
}
.sh-content-head__btns .sh-btn {
  height: 36px;
  border: solid 1px #9fa3ac;
  border-radius: 4px;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  color: #63616b;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head__btns .sh-btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.sh-content-head__btns .sh-btn.sh-content-head__btn-submit {
  background-color: #fff;
  border: solid 1px #9fa3ac;
  color: #63616b;
  justify-content: center;
  min-width: 100px;
}
.sh-content-head__btns .sh-btn:hover,
.sh-content-head__btns .sh-btn.sh-content-head__btn-submit.active {
  background-color: #ffffff;
  border: solid 1px #fe585c;
  color: #63616b;
  justify-content: center;
}

/* Menu principal*/
.sh-content-head__btns .sh-btn.sh-content-head__btn-tab {
  background-color: #fff;
  border: none;
  color: #63616b;
  justify-content: center;
  min-width: 100px;
  border-radius: initial;
  padding-left: 5px;
  padding-right: 5px;
}
.sh-content-head__btns .sh-btn.sh-content-head__btn-tab:hover,
.sh-content-head__btns .sh-btn.sh-content-head__btn-tab.active {
  background-color: #ffffff;
  border: none;
  border-bottom: solid 1px #fe585c;
  color: #63616b;
  justify-content: center;
  min-width: 100px;
  border-radius: initial;
  padding-left: 5px;
  padding-right: 5px;
}

.sh-content-head__btns .sh-btn.sh-content-head__btn-sstab {
  background-color: #fff;
  border: none;
  color: #63616b;
  justify-content: center;
  font-size: 18px;
  padding-right: 0px;
}
.sh-content-head__btns .sh-btn:hover,
.sh-content-head__btns .sh-btn.sh-content-head__btn-sstab.active {
  background-color: #fff;
  border: none;
  color: #000000;
  justify-content: center;
}

.sh-content-head__btns .sh-btn {
  margin: 0px 5px;
}

.sh-content-head__btns .sh-btn:last-child {
  margin-right: 0px;
}
.sh-content-head__control {
  /* width: 170px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .sh-content-head__btn-calendar,
  .sh-content-head__control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sh-content-head__right-col {
  width: 100%;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-content-head__right-col .sh-content-head__control {
  width: 70px;
  margin-left: auto;
}
.sh-content-head__text div {
  font-weight: 700;
}
.sh-content-head__text span {
  color: #9fa3ac;
}
.sh-content-head__popularity-btn {
  position: relative;
  display: inline-block;
}
.sh-content-head__popularity-btn > span {
  display: inline-block;
  color: #000000;
  border-bottom: solid 2px #000000;
}
.sh-content-head__popularity-btn:hover .sh-content-head__popularity-content {
  display: block;
}
.sh-content-head__popularity-content {
  display: none;
  position: absolute;
  width: 200px;
  padding: 22px 30px;
  top: calc(100% - 2px);
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  z-index: 10;
}
@media only screen and (min-width: 769px) {
  .sh-content-head__popularity-content {
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .sh-content-head__popularity-content {
    right: 0;
  }
}
.sh-content-head__popularity-head span {
  display: block;
  margin-bottom: 4px;
}
.sh-content-head__popularity-head span:first-child {
  font-weight: 600;
}
.sh-content-head__popularity-body {
  margin-top: 22px;
  padding-top: 22px;
  border-top: solid 1px #ffffff;
}
.sh-content-head__popularity-body ul li:not(:first-child) {
  margin-top: 16px;
}
.sh-content-head__popularity-body ul li a {
  font-weight: 300;
  color: #ffffff;
}
.sh-section {
  padding: 0px 0 0;
  margin-bottom: 30px;
  background-color: #ffffff;
}

#amis .sh-section,
#commentaire .sh-section {
  border-bottom: 0px solid transparent !important;
}
.sh-section__wrap {
  visibility: hidden;
}

.sh-section__wrap.sh-section__isotope-init {
  visibility: visible;
}
.sh-section__head,
.sh-section__content {
  border-bottom: solid 1px #f3f3f3;
  position: relative;
}

.sh-section__partage {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 10;
  display: none;
  background-color: #fe585c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 45px;
}

.sh-section__partage .sh-btn-icon > i {
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.sh-section__partage .sh-btn-icon.active > i,
.sh-section__partage .sh-btn-icon:hover > i {
  color: #fff;
}

.sh-section__content:hover .sh-section__partage {
  display: block;
}

.sh-section__head {
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.sh-section__head .medaillePost {
  display: inline-block;
  z-index: 15;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 0.2px solid #e8e8e8;
}

.sh-section__head .medaillePost i {
  font-size: 31px;
  font-weight: bold;
  line-height: 43px;
  margin-left: -4px;
}

.sh-section__head .medaillePost .chiffre {
  font-size: 16px;
  line-height: 45px;
  font-weight: bold;
  position: absolute;
  width: 43px;
  z-index: 10;
}

.sh-section__head .medaillePost .chiffre span {
  font-size: 12px;
  font-weight: bold;
  color: #9fa3ac;
  vertical-align: top;
}

.sh-section__avatar {
  margin-right: 5px;
}
.sh-section__name {
  display: block;
  margin-right: 10px;
  font-weight: 600;
}
.sh-section__name:visited,
.sh-section__name:active,
.sh-section__name:link {
  color: #000000;
}
.sh-section__passed {
  display: block;
  color: #9fa3ac;
}
.sh-section__link {
  margin-left: auto;
}
.sh-section__link i {
  font-size: 18px;
}
.sh-section__link-repost {
  margin-left: auto;
}
.sh-section__link-repost i {
  font-size: 24px;
}
.sh-section__content {
  height: 100%;
}
.sh-section__content > p {
  font-size: 16px;
}

/* Normal */
.sh-section__image {
  position: relative;
  margin-bottom: 5px;
  height: 100%;
}
.sh-section__content a.link {
  height: 100%;
  width: 100%;
  display: inline-block;
  z-index: 10;
  position: absolute;
  border-radius: 3px;
}
.sh-section__content a.link:hover {
  height: 100%;
  width: 100%;
  display: inline-block;
  z-index: 10;
  position: absolute;
  border-radius: 3px;
}

.sh-section__image .element {
  width: 100%;
}

.sh-section__image .element img {
  height: auto;
  min-height: initial;
  width: 100%;
  image-rendering: auto;
  border-radius: 10px;
}

.sh-section__image .element p {
  position: absolute;
  top: 30%;
  font-size: 30px;
}

.sh-section__image-gif a::after {
  position: absolute;
  content: "gif";
  display: block;
  padding: 0 4px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  right: 16px;
  top: 16px;
}

.sh-section__image.postimg img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* HOME */
.sh-section__media {
  position: relative;
  margin-bottom: 5px;
  /* height: 300px; */
}
.sh-section__content a.link {
  height: 100%;
  width: 100%;
  display: inline-block;
  z-index: 10;
  position: absolute;
}
.sh-section__media .element {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.sh-section__media .element img {
  height: 100%;
  min-height: initial;
  width: 100%;
  image-rendering: auto;
}

.sh-section__media .element p {
  position: absolute;
  top: 28%;
  font-size: 30px;
}

.sh-section__image .sh-section__user__image {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 100px;
  width: 100px;
  height: 100px;
  background-size: cover;
  border: 5px solid #fe585c;
  overflow: hidden;
  margin: 0 auto;
}

.sh-section__image-info {
  position: absolute;
  width: 100%;
  padding: 28px 24px;
  bottom: -1px;
  background-color: #ffffff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: solid 1px #f3f3f3;
  border-left: solid 1px #f3f3f3;
  border-right: solid 1px #f3f3f3;
}
@media only screen and (max-width: 1024px) {
  .sh-section__image-info {
    position: relative;
    top: -10px;
  }
}
.sh-section__image-info div {
  font-weight: 600;
}
.sh-section__image-info p {
  color: #63616b;
}
.sh-section__image-info span {
  color: #9fa3ac;
}
.sh-section__image-curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(
    transparent 40%,
    rgba(0, 0, 0, 0.7)
  );
  background-image: -moz-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: -ms-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.7));
  align-items: flex-end;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain {
    position: relative;
    padding-top: 16px;
    flex-wrap: wrap;
    background-image: none;
  }
}
.sh-section__image-curtain-text {
  margin-bottom: 24px;
  margin-left: 30px;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain-text {
    margin: 0;
    margin-bottom: 15px;
  }
}
.sh-section__image-curtain-text p {
  color: #ffffff;
  font-weight: 400;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain-text p {
    color: #000000;
  }
}
.sh-section__image-curtain-text span {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain-text span {
    color: #000000;
  }
}
.sh-section__image-curtain .sh-btn {
  margin-bottom: 24px;
  margin-right: 30px;
  border-width: 1px;
}
@media only screen and (max-width: 479px) {
  .sh-section__image-curtain .sh-btn {
    margin: 0;
    margin-bottom: 15px;
  }
}
.sh-section__images {
  margin: 0 -5px;
  margin-top: 14px;
  flex-wrap: wrap;
}
.sh-section__images div {
  padding: 0 5px;
  margin-top: 10px;
}
.sh-section__images div a {
  position: relative;
  display: block;
}
.sh-section__images div a::before {
  content: "";
  display: block;
  padding-top: 66%;
}
.sh-section__images div a img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.sh-section__media {
  /* margin-top: 24px; */
  margin-top: 0;
}
.sh-section__repost {
  margin: 0 -30px;
  padding: 30px 30px 0;
  background-color: #f7fbfd;
}
.sh-section__code {
  display: block;
  border-radius: 6px;
  background-color: #f7fbfd;
}
.sh-section__code span {
  white-space: pre;
}
.sh-section__code li {
  padding: 6px 20px;
}
.sh-section__code li:nth-child(even) {
  background-color: #ecf0f3;
}
.sh-section__voting {
  margin-top: 24px;
}
.sh-section__compare {
  margin-top: 24px;
}
.sh-section__rating {
  margin-top: 24px;
}
.sh-section__offer {
  margin-top: 24px;
}
.sh-section__options {
  padding: 22px 0;
  border-bottom: solid 1px #f3f3f3;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-section__options .sh-btn-icon:not(:last-child) {
  margin-right: 30px;
}
.sh-section__options-btn {
  margin-left: auto;
}
.sh-section__options-btn i {
  color: #000000;
  font-size: 20px;
}
.sh-section__footer {
  padding: 10px 10px 0;
  flex-wrap: wrap;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.sh-section__footer .sh-btn-icon {
  margin-top: 10px;
}
.sh-section__btn-upvote,
.sh-section__btn-downvote,
.sh-section__btn-repost,
.sh-section__btn-like,
.sh-section__btn-like-b,
.sh-section__btn-follow,
.sh-section__btn-comment,
.sh-section__btn-stat,
.sh-section__btn-options {
  margin-right: 10px;
}

.sh-section__btn-like span,
.sh-section__btn-like-b span,
.sh-section__btn-comment span,
.sh-section__btn-link span,
.sh-section__btn-follow span {
  margin-left: 5px;
  font-size: 13px;
}

@media only screen and (max-width: 479px) {
  .sh-section__btn-like span,
  .sh-section__btn-like-b span,
  .sh-section__btn-comment span,
  .sh-section__btn-link span,
  .sh-section__btn-follow span {
    margin-left: 5px;
    font-size: 12px;
  }
}

.sh-section__btn-stat {
  position: relative;
}
.sh-section__btn-repost i {
  font-size: 23px;
}
.sh-section__btn-share {
  margin-left: auto;
}

.sh-section__btn-link,
.sh-section__btn-follow {
  margin-left: auto;
}
.sh-section__btn-link img {
  width: 40px;
}

.sh-section__avatar {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 38px;
  width: 38px;
  height: 38px;
  background-size: cover;
  border: 2px solid #fe585c;
}

.sh-section__avatar-small {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 28px;
  width: 28px;
  height: 28px;
  background-size: cover;
  border: 0.5px solid #fe585c;
}

.sh-section__btn-awesome {
  padding: 3px 10px;
  margin-top: 10px;
  margin-right: 30px;
  background-color: #9fa3ac;
  border: solid 1px #9fa3ac;
  border-radius: calc(6px * 0.6);
  text-align: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sh-section__btn-awesome:visited,
.sh-section__btn-awesome:active,
.sh-section__btn-awesome:link {
  color: #ffffff;
}
.sh-section__btn-awesome:hover {
  background-color: #ffffff;
  color: #9fa3ac;
}
.sh-section__btn-save {
  min-width: 84px;
  padding: 3px 10px;
  margin-top: 10px;
  background-color: #000000;
  border: solid 1px #000000;
  border-radius: calc(6px * 0.6);
  text-align: center;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sh-section__btn-save:visited,
.sh-section__btn-save:active,
.sh-section__btn-save:link {
  color: #ffffff;
}
.sh-section__btn-save:hover {
  background-color: #ffffff;
  color: #000000;
}
.sh-section__btns-right {
  margin-left: auto;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-section__feeling {
  padding: 15px 30px 30px;
  margin: 0 -30px;
  background-color: #f7fbfd;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.sh-section.sh-section__edit-post {
  margin-top: 44px;
}
.sh-section.sh-section__edit-post .sh-section__content {
  padding-top: 0;
}
.sh-add-comment {
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
.sh-add-comment form input.form-control {
  padding: 0;
}
.sh-add-comment__content {
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-add-comment__content > span {
  color: #9fa3ac;
}
.sh-add-comment__btn-addimg {
  margin-right: 15px;
}
.sh-add-comment__btn-save {
  margin-left: auto;
}
.sh-add-comment__btn-save span {
  margin-right: 15px;
}
.sh-add-comment__btn-save i {
  font-size: 20px;
}
.sh-comments {
  margin-bottom: 30px;
}
.sh-comments__head {
  padding-bottom: 20px;
  border-bottom: solid 1px #e6e9f1;
  flex-wrap: wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-comments__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.sh-comments__options {
  margin-left: auto;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-comments__options span {
  margin-right: 30px;
}
.sh-comments__options .sh-btn-icon:not(:last-child) {
  margin-right: 30px;
}
.sh-comments__section {
  margin-top: 30px;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-comments__section p {
  margin-top: 5px;
  font-size: 14px;
}
.sh-comments__avatar {
  margin-right: 10px;
}
.sh-comments__content {
  width: 100%;
}
.sh-comments__content > a > img {
  max-width: 266px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.sh-comments__name {
  white-space: pre;
  font-weight: 600;
}
.sh-comments__name:visited,
.sh-comments__name:active,
.sh-comments__name:link {
  color: #000000;
}
.sh-comments__passed {
  color: #9fa3ac;
  font-size: 14px;
}

a.sh-comments__signaler {
  color: #9fa3ac;
  font-size: 16px;
  float: right;
  margin-right: 5px;
}

a.sh-comments__signaler:hover {
  color: #f00;
}

.sh-comments__info {
  margin-top: 5px;
}
.sh-comments__info .sh-btn-icon {
  margin-right: 30px;
  margin-top: 10px;
}
.sh-comments__info .sh-btn-icon span {
  margin-left: 15px;
}
.sh-comments__btn-reply {
  display: block;
  float: right;
}
.sh-aside__image {
  padding: 0 15px;
  margin-bottom: 30px;
}
.sh-aside__image img {
  border-radius: 6px;
}
.sh-aside .sh-section__footer .sh-btn-icon {
  margin-right: 25px;
}
.sh-aside .sh-section__footer .sh-btn-icon i {
  font-size: 18px;
}
.sh-aside .sh-section__footer .sh-section__btn-repost i {
  font-size: 22px;
}
.sh-aside__edit-post {
  margin-top: 44px;
  flex-direction: column;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-aside__edit-post > div {
  flex-wrap: wrap;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-aside__edit-post-head {
  border-bottom: solid 1px #e6e9f1;
}
.sh-aside__edit-post-footer {
  padding-top: 22px;
}
.sh-aside__edit-post-footer > span:not(:last-child),
.sh-aside__edit-post-footer > label:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 10px;
}
.sh-aside__edit-post-footer .sh-btn {
  margin-top: 16px;
  background-color: transparent;
  color: #ed1c24;
  border-color: #ed1c24;
}
.sh-aside__edit-post-footer .sh-btn i {
  font-size: 18px;
  color: #ed1c24;
}
.sh-aside__edit-post-footer .sh-btn:hover {
  color: #ffffff;
  background-color: #ed1c24;
}
.sh-aside__edit-post-footer .sh-btn:hover i {
  color: #ffffff;
}
.sh-aside .sh-btn {
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
  border-width: 1px;
}
.sh-aside .sh-checkbox {
  margin-bottom: 30px;
}
.sh-aside select.form-control {
  margin-bottom: 30px;
  max-width: 200px;
  margin-right: 30px;
}

.sh-aside__get-code {
  padding-top: 22px;
  flex-direction: column;
  align-items: flex-start !important;
}
.sh-aside__get-code {
  padding-top: 22px;
  flex-direction: column;
  align-items: flex-start !important;
}
.sh-aside__get-code p {
  margin-bottom: 12px;
}
.sh-aside__get-code .sh-input-copy {
  margin-bottom: 22px;
}
.sh-aside__social {
  padding-bottom: 22.5px;
  border-bottom: solid 1px #e6e9f1;
}
.sh-aside .sh-btn-social {
  margin: 7.5px;
}
.sh-head-user {
  border-bottom: solid 1px #e6e9f1;
}
.sh-head-user__content {
  /* width: 100%; */
  padding: 5px 0;
  /* margin: 0 auto; */
  justify-content: center;
  align-items: center;
  /*display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color:#CCC;*/
}
@media only screen and (max-width: 768px) {
  .sh-head-user__content {
    flex-wrap: wrap;
  }
}
.sh-head-user__image {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sh-head-user__profil {
  position: absolute;
  left: 0;
  z-index: 10;
}

.sh-section__user__image {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 230px;
  width: 230px;
  height: 230px;
  background-size: cover;
  border: 5px solid #fe585c;
  overflow: hidden;
}

@media only screen and (max-width: 1483px) {
  .sh-section__user__image {
    min-width: 200px;
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 479px) {
  .sh-section__user__image {
    min-width: 100px;
    width: 100px;
    height: 100px;
  }

  .sh-head-user__profil {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 35px;
  }
}

@media only screen and (min-width: 769px) {
  .sh-head-user__image {
    margin-right: 46px;
  }
}
.sh-head-user__info {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sh-head-user__info-head {
  margin-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.sh-head-user__upload {
  margin-bottom: 16px;
  display: block;
  width: 100%;
}
.sh-head-user__upload .sh-btn-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.sh-head-user__upload .sh-btn-icon i {
  margin-right: 10px;
  color: #a1a5ae;
  font-size: 30px;
}

.sh-head-user__upload .sh-btn-icon i:hover,
.sh-head-user__upload .sh-btn-icon.active i {
  color: #fe585c;
}

.sh-head-user__info-tops {
  margin-bottom: 16px;
}
.sh-head-user__info-tops .sh-btn-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.sh-head-user__info-tops .sh-btn-icon i {
  margin-right: 5px;
  font-size: 28px;
}

.sh-head-user__info-tops .sh-btn-icon i.or {
  color: #c69c44;
}
.sh-head-user__info-tops .sh-btn-icon i.argent {
  color: #747474;
}
.sh-head-user__info-tops .sh-btn-icon i.bronze {
  color: #b17b48;
}

.sh-head-user__info-tops .sh-btn-icon i.top {
  font-size: 20px;
  margin-left: 5px;
  color: #000000;
}

.sh-btn-icon.active i.top,
.sh-btn-icon:hover i.top {
  color: #000000;
}

.sh-head-user__info-tops .sh-btn-icon span {
  color: #000000;
  font-weight: 600;
  display: block;
  margin-left: 5px;
}

.sh-head-user__info-communautaire {
  margin-bottom: 16px;
}

.sh-head-user__info-communautaire .sh-section-amis {
  padding: 0px 0 0;
  margin-bottom: 0px;
}

.sh-section-amis .sh-section__content {
  border-bottom: none;
}

.sh-section-amis .sh-section__content .sh-section__image {
  position: relative;
  margin-bottom: 0px;
}

.sh-section-amis
  .sh-section__content
  .sh-section__image
  .sh-section__user__image {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 55px;
  width: 55px;
  height: 55px;
  background-size: cover;
  border: 2px solid #fe585c;
  overflow: hidden;
  margin: 0 auto;
}

.sh-head-user__info-statistic {
  margin-bottom: 16px;
}

span.profil {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 10px 5px;
  margin-right: 15px;
}

.sh-head-user__info-statistic .profil .sh-btn-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.sh-head-user__info-statistic .sh-btn-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.sh-head-user__info-statistic .sh-btn-icon i {
  margin-right: 5px;
  color: #9fa3ac;
}
.sh-head-user__info-statistic .sh-btn-icon i.rose {
  margin-right: Opx;
  color: #fe585c;
}
.sh-head-user__info-statistic .sh-btn-icon span {
  color: #000000;
  font-weight: 600;
}

.sh-head-user__info-statistic .sh-btn-icon i.or {
  color: #c69c44;
}
.sh-head-user__info-statistic .sh-btn-icon i.argent {
  color: #747474;
}
.sh-head-user__info-statistic .sh-btn-icon i.bronze {
  color: #b17b48;
}

.sh-user__content .sh-head-user__info-menu {
  padding: 10px 20px;
}
.sh-head-user__info-menu {
  margin-bottom: 16px;
}
.sh-head-user__info-menu .sh-btn-icon {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.sh-head-user__info-menu .sh-btn-icon i {
  margin-right: 15px;
  color: #9fa3ac;
}
.sh-head-user__info-menu .sh-btn-icon i.rose {
  margin-right: Opx;
  color: #fe585c;
}
.sh-head-user__info-menu .sh-btn-icon span {
  color: #000000;
  font-weight: 600;
}

.sh-head-user__info > p {
  color: #63616b;
}
.sh-head-user__name {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.sh-head-user__name a.parametre_bt {
  color: #000000;
  text-decoration: none;
  outline: none;
  font-size: 16px;
}

.sh-head-user__name i.fa-check-circle {
  color: #0c6;
}

.sh-head-user__name p {
  font-size: 16px;
}

.sh-head-user__name span {
  margin-right: 5px;
  width: 100%;
}

.sh-head-user__name span.name {
  /* font-family: "lemonmilk", sans-serif; */
  font-size: 28px;
}

.sh-head-user__name span.grade {
  font-size: 20px;
}

.sh-head-user__name i img {
  width: 16px;
}

.sh-head-user__logout {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  font-size: 15px;
}

.sh-head-user__logout a,
.sh-head-user__logout a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.sh-head-user__icons {
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sh-head-user__icons i img {
  width: 34px;
}
.sh-head-user__icons i:not(:last-child) {
  margin-right: 16px;
}
.sh-head-user__btn-follow {
  margin-right: 30px;
  background-color: transparent;
  border-width: 1px;
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sh-head-user__btn-follow:visited,
.sh-head-user__btn-follow:active,
.sh-head-user__btn-follow:link {
  color: #000000;
}
.sh-head-user__btn-follow:hover {
  color: #ffffff;
  background-color: #000000;
}
.sh-head-user__btn-options {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sh-login {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-login__password {
  position: relative;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-reponse,
.sh-annuler {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-no {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-yes {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

/*inviter Amis*/

.sh-inviter,
.sh-inviter-menu {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

/*partager Amis*/

.sh-partage-battle,
.sh-partage-contenu {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

/*supprimer*/

.sh-supp,
.sh-suppBattle {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-editPost {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-editBattle {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
/*convertir*/

.sh-convertir {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
/*supp compte*/

.sh-supp-compte {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
/* MESSAGE / ALERT POPUP */

.sh-message {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

/* */

.sh-likemessage {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-signalerComment,
.sh-signalerPost {
  position: relative;
  display: none;
  max-width: 432px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

/* POPUP POST*/

.sh-popup-post {
  position: relative;
  display: none;
  /* max-width: 900px; */
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

.sh-popup__content {
  padding: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}

/* checkbox  */
.sh-checkbox {
  align-items: center;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.sh-section__footer .sh-checkbox {
  margin-left: 5px;
}
.sh-checkbox span {
  position: relative;
  display: inline-block;
  border: solid 1px #9fa3ac;
  border-radius: 6px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.sh-checkbox span.sh-section__avatar {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 38px;
  width: 38px;
  height: 38px;
  background-size: cover;
  border: 1px solid #fe585c;
}

.sh-checkbox span.pseudo {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;

  border: none;
  border-radius: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

.sh-checkbox input {
  display: none;
}
.sh-checkbox input:checked + span:before {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -8px;
  border-right: solid 2px #fe585c;
  border-bottom: solid 2px #fe585c;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sh-checkbox p {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
  font-size: 14px;
}

/* CAT checkbox */

.sh-checkbox-cat {
  align-items: center;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: center;
}

.sh-checkbox-cat span {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: "prometheus", sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: transparent;
  text-align: center;
  padding: 25%;
}

.sh-checkbox-cat input {
  display: none;
}
.sh-checkbox-cat input:checked + span {
  font-family: "prometheus", sans-serif;
  color: #fe585c;
  background-color: rgba(0, 0, 0, 0.7);
}

.sh-checkbox-cat input:hover + span {
  font-family: "prometheus", sans-serif;
  color: #fe585c;
  background-color: rgba(0, 0, 0, 0.7);
}

.sh-radio {
  align-items: center;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin-right: 15px;
}
.sh-radio span {
  position: relative;
  display: inline-block;
  border: solid 1px #9fa3ac;
  border-radius: 50%;
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.sh-radio input {
  display: none;
}
.sh-radio input:checked + span:before {
  position: absolute;
  display: block;
  width: 8px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -10px;
  font-family: FontAwesome;
  content: "\f111";
  color: #fe585c;
  font-size: 14px;
}
.sh-radio p {
  display: inline;
  margin-left: 10px;
  font-weight: 300;
}

.sh-input-copy {
  position: relative;
  width: 100%;
}
.sh-input-copy input {
  border-radius: 4px;
}
.sh-input-copy a {
  position: absolute;
  display: block;
  min-width: 34px;
  top: 5px;
  bottom: 5px;
  right: 5px;
  color: #000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sh-input-copy a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.sh-btn {
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fe585c;
  font-weight: 300;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  line-height: 31px;
  outline: 0;
}

.sh-btn.big {
  height: 45px;
  padding-left: 55px;
  padding-right: 55px;
  color: #fe585c !important;
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  border: solid 2px #fe585c;
  align-items: center;
  text-align: center;
  line-height: 40px;
  font-size: 150%;
}

.sh-btn.big:hover,
.sh-btn.big:hover i {
  color: #ffffff !important;
  background-color: #fe585c;
}

.sh-btn i {
  margin-left: 12px;
}
.sh-btn,
.sh-btn i {
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sh-btn:visited,
.sh-btn:active,
.sh-btn:link,
.sh-btn:visited i,
.sh-btn:active i,
.sh-btn:link i {
  color: #ffffff;
}

.sh-btn:hover,
.sh-btn:hover i {
  background-color: #fe585c;
  color: #ffffff;
}
.sh-btn-icon {
  align-items: center;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.sh-btn-icon > i {
  /* font-size: 20px; */
  cursor: pointer;
}

.sh-btn-icon > p {
  font-size: 16px;
  cursor: pointer;
}

.sh-btn-icon > p span {
  margin-left: 5px;
}
.sh-btn-icon > i,
.sh-btn-icon > span,
.sh-btn-icon > p {
  color: #9fa3ac;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.sh-btn-icon.active > i,
.sh-btn-icon:hover > i,
.sh-btn-icon.active > span,
.sh-btn-icon:hover > span,
.sh-btn-icon.active > p,
.sh-btn-icon:hover > p {
  color: #fe585c;
}

.sh-btn-icon > i.add,
.sh-btn-icon > span.add {
  color: #3c6;
}

.sh-btn-icon > i.remove,
.sh-btn-icon > span.remove {
  color: #f06;
}

.sh-btn-social {
  border-radius: 50%;
  backface-visibility: hidden;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sh-btn-social:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.sh-btn-social i {
  font-size: 16px;
  color: #fff;
}

.sh-btn-social i.big {
  font-size: 16px;
  color: #302f31;
}
.sh-btn-social__facebook {
  background-color: #3b5998;
}
.sh-btn-social__twitter {
  background-color: #55acee;
}
.sh-btn-social__google {
  background-color: #dd4b39;
}
.sh-btn-social__pinterest {
  background-color: #cb2027;
}
.sh-btn-social__btc {
  background-color: #ff6600;
}
.sh-btn-social__tumblr {
  background-color: #32506d;
}
.sh-btn-social__vk {
  background-color: #45668e;
}
.sh-btn-social__reddit {
  background-color: #5f99cf;
}
.sh-btn-social__send {
  background-color: #999;
}

.sh-btn-social__partage i {
  font-size: 20px !important;
}

.sh-btn-social__partage:hover i {
  color: #fe585c !important;
}

/* BT Rose*/
.sh-btn-rose {
  background-color: #ffffff;
  border: solid 1px #9fa3ac;
  color: #63616b !important;
  margin-top: 10px;
}
.sh-btn-rose:hover {
  background-color: #ffffff;
  border: solid 1px #fe585c;
  color: #fe585c !important;
}

.sh-btn:active,
.sh-btn:link,
.sh-btn:active i,
.sh-btn:link i {
  color: #ffffff;
}

.sh-logo {
  display: inline-block;
}
.sh-logo img {
  width: 70%;
  height: auto;
}
.sh-logo img:not(:first-child) {
  display: none;
}
.sh-logo__invert {
  z-index: 100;
}
.sh-logo__invert img:first-child {
  display: none;
}
.sh-logo__invert img:last-child {
  display: block;
}

.sh-logo__home {
  width: 250px;
  margin: 0 auto;
}
.sh-logo__home img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.sh-logo__index {
  width: 340px;
  margin: 0 auto;
}
.sh-logo__index img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.sh-header__cgv {
  margin-right: 10px;
}

.sh-avatar {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 38px;
  width: 38px;
  height: 38px;
}

.sh-header__avatar {
  font-size: 11px;
  text-transform: lowercase;
}
.sh-header__avatar p {
  text-transform: capitalize;
}
.sh-header__avatar .likes {
  width: 50%;
  float: left;
  margin-top: 3px;
}

.likes [class^="icon-"] {
  color: #a1a5ae;
  font-size: 12px;
}

.sh-avatar__header {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 28px;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  vertical-align: middle;
  background-size: cover;
}

.sh-statistic {
  display: none;
  position: absolute;
  width: 470px;
  top: -40px;
  left: 0;
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 100000;
  -webkit-transform: translate(-80%, -100%);
  -ms-transform: translate(-80%, -100%);
  -o-transform: translate(-80%, -100%);
  transform: translate(-80%, -100%);
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  .sh-statistic {
    position: fixed;
    top: 50%;
    max-width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.sh-statistic__arrow {
  display: none;
  position: absolute;
  top: -40px;
  left: -7.5px;
  border: solid 18px transparent;
  border-top-color: #ffffff;
  z-index: 100000;
  width: 0;
  height: 0;
}
@media only screen and (max-width: 768px) {
  .sh-statistic__arrow {
    display: none !important;
  }
}
.sh-statistic__head {
  padding: 30px 30px;
  border-bottom: solid 1px #e6e9f1;
  justify-content: space-between;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-statistic__close {
  margin-top: 0 !important;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.sh-statistic__close i {
  font-size: 16px;
}
.sh-statistic__close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.sh-statistic__content {
  text-align: center;
  border-bottom: solid 1px #e6e9f1;
  background-color: #fffdfb;
}
.sh-statistic__content img {
  max-width: 172px;
  margin-bottom: 50px;
}
.sh-statistic__content p a {
  margin: 0 8px;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
@media only screen and (max-width: 479px) {
  .sh-statistic__content p a {
    margin: 10px 0;
    justify-content: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
.sh-statistic__footer {
  padding: 20px 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-statistic__footer > a {
  margin: 5px 0;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-statistic__footer > a:visited,
.sh-statistic__footer > a:active,
.sh-statistic__footer > a:link {
  color: #000000;
}
.sh-statistic__footer > a i {
  margin-right: 15px;
  color: #9fa3ac;
}
.sh-statistic__footer > a span {
  font-size: 14px;
}
.sh-statistic__band {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-statistic__band-section {
  width: 100%;
  height: 17px;
  margin: 0 15px;
  background-color: #e03c40;
  border-radius: 20px;
  overflow: hidden;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-statistic__band-section > div {
  position: relative;
  background-color: #00a651;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-statistic__band-section > div span {
  position: absolute;
  font-size: 14px;
  color: #ffffff;
}
.sh-statistic__band-section > div span:first-child {
  right: 4px;
}
.sh-statistic__band-section > div span:last-child {
  left: calc(100% + 4px);
}
.sh-calendar {
  display: none;
  width: 500px;
  padding: 0 30px;
  background-color: #ffffff;
  border-radius: 6px;
  color: #000000;
  cursor: default;
  z-index: 100000;
  -webkit-box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 769px) {
  .sh-calendar {
    top: -30px;
    left: -30px;
    position: absolute;
  }
}
@media only screen and (max-width: 768px) {
  .sh-calendar {
    max-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.sh-calendar__head {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: solid 1px #f3f3f3;
  align-items: center;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (min-width: 769px) {
  .sh-calendar__head {
    padding-left: 50px;
  }
}
.sh-calendar__head span {
  font-weight: 600;
}
.sh-calendar__head p {
  color: #9fa3ac;
}
.sh-calendar__close {
  cursor: pointer;
}
.sh-calendar__datepicker .datepicker {
  width: 100% !important;
  font-family: "CenturyGothic", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.sh-calendar__datepicker .datepicker tr,
.sh-calendar__datepicker .datepicker td {
  display: inline-block;
}
.sh-calendar__datepicker .datepicker table,
.sh-calendar__datepicker .datepicker tbody,
.sh-calendar__datepicker .datepicker thead {
  display: block;
  max-width: 100%;
}
.sh-calendar__datepicker .datepicker .datepickerContainer {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #ffffff !important;
}
.sh-calendar__datepicker .datepicker .datepickerContainer > table > tbody > tr,
.sh-calendar__datepicker
  .datepicker
  .datepickerContainer
  > table
  > tbody
  > tr
  > td {
  display: block;
  max-width: 100%;
}
.sh-calendar__datepicker .datepicker .datepickerBorderT,
.sh-calendar__datepicker .datepicker .datepickerBorderB,
.sh-calendar__datepicker .datepicker .datepickerBorderL,
.sh-calendar__datepicker .datepicker .datepickerBorderR,
.sh-calendar__datepicker .datepicker .datepickerBorderTL,
.sh-calendar__datepicker .datepicker .datepickerBorderTR,
.sh-calendar__datepicker .datepicker .datepickerBorderBL,
.sh-calendar__datepicker .datepicker .datepickerBorderBR {
  display: none;
}
.sh-calendar__datepicker .datepicker .datepickerDoW th:first-child,
.sh-calendar__datepicker .datepicker .datepickerDays th:first-child {
  display: none;
}
.sh-calendar__datepicker .datepicker td a,
.sh-calendar__datepicker .datepicker .datepickerDoW th span {
  max-width: 62px;
  height: 44px;
  justify-content: center;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-calendar__datepicker .datepicker .datepickerMonth a {
  max-width: inherit !important;
}
.sh-calendar__datepicker .datepicker .datepickerDays,
.sh-calendar__datepicker .datepicker .datepickerMonths,
.sh-calendar__datepicker .datepicker .datepickerYears {
  padding: 0 20px;
  margin-bottom: 12px;
  text-align: center;
}
.sh-calendar__datepicker .datepicker .datepickerDays tr,
.sh-calendar__datepicker .datepicker .datepickerMonths tr,
.sh-calendar__datepicker .datepicker .datepickerYears tr {
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-calendar__datepicker .datepicker .datepickerDays a span,
.sh-calendar__datepicker .datepicker .datepickerMonths a span,
.sh-calendar__datepicker .datepicker .datepickerYears a span {
  color: #63616b;
  cursor: pointer;
}
.sh-calendar__datepicker
  .datepicker
  .datepickerDays
  .datepickerNotInMonth
  a
  span,
.sh-calendar__datepicker
  .datepicker
  .datepickerMonths
  .datepickerNotInMonth
  a
  span,
.sh-calendar__datepicker
  .datepicker
  .datepickerYears
  .datepickerNotInMonth
  a
  span {
  color: #d7dbe5;
}
.sh-calendar__datepicker .datepicker .datepickerMonths,
.sh-calendar__datepicker .datepicker .datepickerYears {
  margin-top: 12px;
}
.sh-calendar__datepicker .datepicker .datepickerDoW {
  padding: 0 20px;
  margin-top: 12px !important;
  justify-content: space-between;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-calendar__datepicker .datepicker .datepickerDoW span {
  color: #9fa3ac;
}
.sh-calendar__datepicker .datepicker td.datepickerSelected {
  background-color: transparent !important;
}
.sh-calendar__datepicker .datepicker thead {
  display: block;
}
.sh-calendar__datepicker .datepicker thead tr:first-child {
  padding: 0 20px;
  border-bottom: solid 1px #f3f3f3;
  justify-content: space-between;
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-calendar__datepicker .datepicker thead tr:first-child th a {
  width: inherit;
}
.sh-calendar__datepicker .datepicker thead tr:first-child th a span {
  color: #000000;
  cursor: pointer;
}
.sh-calendar__datepicker .datepicker thead tr:first-child th a span:hover {
  color: #000000;
}
.sh-calendar__datepicker .datepicker thead tr:first-child th:first-child a span,
.sh-calendar__datepicker .datepicker thead tr:first-child th:last-child a span {
  color: #9fa3ac;
}
.sh-calendar__datepicker
  .datepicker
  table.datepickerViewMonths
  tbody.datepickerDays,
.sh-calendar__datepicker
  .datepicker
  table.datepickerViewMonths
  tbody.datepickerYears,
.sh-calendar__datepicker
  .datepicker
  table.datepickerViewMonths
  tr.datepickerDoW,
.sh-calendar__datepicker
  .datepicker
  table.datepickerViewYears
  tbody.datepickerDays,
.sh-calendar__datepicker
  .datepicker
  table.datepickerViewYears
  tbody.datepickerMonths,
.sh-calendar__datepicker
  .datepicker
  table.datepickerViewYears
  tr.datepickerDoW {
  display: none;
}
.sh-calendar__footer {
  padding: 22px 0;
  border-top: solid 1px #f3f3f3;
  align-items: center;
  justify-content: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.sh-feeling {
  justify-content: space-around;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .sh-feeling {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.sh-feeling a {
  width: 44px;
  margin: 15px 4px 0;
  text-align: center;
}
.sh-feeling a span {
  display: inline-block;
  margin-top: 16px;
  color: #63616b;
}
