@font-face {
  font-family: 'repu_font';
  src: url('../font/repu_font.eot?20608507');
  src: url('../font/repu_font.eot?20608507#iefix') format('embedded-opentype'),
       url('../font/repu_font.woff2?20608507') format('woff2'),
       url('../font/repu_font.woff?20608507') format('woff'),
       url('../font/repu_font.ttf?20608507') format('truetype'),
       url('../font/repu_font.svg?20608507#repu_font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'repu_font';
    src: url('../font/repu_font.svg?20608507#repu_font') format('svg');
  }
}
*/
 
 [class^="repu-"]:before, [class*=" repu-"]:before {
  font-family: "repu_font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.repu-coins:before { content: '\e802'; } /* '' */
.repu-group:before { content: '\e805'; } /* '' */
.repu-laurels:before { content: '\e806'; } /* '' */