/* Epsilon Framework Styles*/

.disabled{
    display:none;
}

#header-fixed{
    opacity:1;
    position:fixed;
    width:100%;
    height:70px;
    background-color:#FFFFFF;
    z-index:99999;
}

/*Put content under header, adjust for fullscren pages*/
.cover-screen, .map-fullscreen{
    margin-top:-60px;
}

#footer-fixed{
    opacity:1;
    position:fixed;
    width:100%;
    height:60px;
    background-color:#FFFFFF;
    z-index:999999;
    bottom:0px;
}

.not-active{
    opacity:0!important;
    pointer-events: none!important;
}

.header-style-1{
    border-top:solid 1px rgba(0,0,0,0.1);
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.header-style-1 .header-1{
    color:#1f1f1f;
    float:left;
    width:60px;
    height:65px;
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.header-style-1 .header-1 i{
    height:65px;
    width:60px;
    text-align:center;
    line-height:57px;
}

.header-style-1 .header-logo{
    position:absolute;
    left:50%;
    margin-left:-25px;
}

.header-style-1 .header-logo img{
    width:50px;
    margin-top:10px;
}

.header-style-1 .header-2{
    color:#1f1f1f;
    float:right;
    width:60px;
    height:55px;
    border-left:dashed 1px rgba(0,0,0,0.1);
}

.header-style-1 .header-2 i{
    width:60px;
    height:55px;
    line-height:57px;
    text-align:center;
}

.header-style-1 .header-client{
    color:#1f1f1f;
    float:right;
    width:110px;
    height:55px;
}

.header-style-1 .header-client img{
    width:100px;
    margin-top:10px;
}

.header-clear{
    height:70px;
}

.header-clear-large{
    height:90px;
}

.image-column-left{margin-bottom:30px; padding-right:30px;}
.image-column-left:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.image-column-left img{
    width:115px;
    height:115px;
    border-top-left-radius:0px;
    border-top-right-radius:100px;
    border-bottom-right-radius:100px;
    border-bottom-left-radius:0px;
    margin-left:-50px;
    float:left;
    margin-right:20px;
}

.image-column-left strong{
    display:block; 
    width:100%;
    font-size:16px;
}

.image-column-left em{
    font-size:14px;
    font-style:normal;
}

.image-column-right{margin-bottom:30px; padding-left:30px;}
.image-column-right:after{
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.image-column-right img{
    width:115px;
    height:115px;
    border-top-left-radius:100px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:100px;
    float:right;
    margin-left:20px;
    margin-right:-50px;
}

.image-column-right strong{
    display:block; 
    width:100%;
    font-size:16px;
}

.image-column-right em{
    font-size:14px;
    font-style:normal;
}

.footer-icons{
    width:265px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:5px;
    margin-right:5px;
}

.footer-icons a i{
    width:40px;
    height:40px;
    line-height:40px;
    font-size:12px;
}

.footer p{
    margin-bottom:15px;
}

/*Sidebar*/

/*Sidebar Header Left*/

.sidebar-header-left{
    height:69px;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    background-color:#FFFFFF;
}

.sidebar-header-left a img{
    width:120px;
    margin-top:22px;
    margin-left:30px;
}

.sidebar-header-left a.name_user{
    width:200px;
    margin-top:0px;
	text-align:center;
	color: #1f1f1f;
}


.sidebar-header-left a:first-child{
    width:200px;
    float:left;
}

.sidebar-header-left a:last-child{
    width:60px;
    height:60px;
    line-height:60px;
    color:#1f1f1f;
    position:absolute;
    left:205px;
    text-align:center;
    border-left:dashed 1px rgba(0,0,0,0.1);
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.sidebar-header-left a i{width:54px height:60px; line-height:60px; text-align:center;}


/*Sidebar Header Right*/

.sidebar-header-right{
    height:60px;
    border-bottom:solid 1px rgba(255,255,255,0.05);
    background-color:#FFFFFF;
    padding-right:30px;
}

.sidebar-header-right a img{
    width:120px;
    margin-top:22px;
}

.sidebar-header-right a:first-child{
    width:120px;
    float:right;
}

.sidebar-header-right a:last-child{
    width:60px;
    height:60px;
    line-height:60px;
    color:#1f1f1f;
    position:absolute;
    left:0px;
    text-align:center;
    border-left:dashed 1px rgba(0,0,0,0.1);
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.sidebar-header-left a i{width:54px height:60px; line-height:60px; text-align:center;}

/*Sidebar Menu*/


.menu-item{
    height:50px;
    color:#6b757d;
    transition:all 250ms ease;
}

.menu-item-active .fa-circle{
    color:#2980b9!important;
    opacity:1!important;
    font-size:6px!important;
    margin-left:231px!important
}

.menu-item-active{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.menu-item em:hover{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.menu-item i:first-child{
    position:absolute;
    font-size:18px;
    width:20px;
    text-align:center;
    top:50%;
    margin-top:-8px;
    margin-left:30px;
}

.menu-item i:last-child{
    position:absolute;
    font-size:5px;
    margin-left:232px;
    top:50%;
    margin-top:-1px;
    opacity:0.5;
}

.menu-item strong{
    font-size:10px;
    position:absolute;
    left:214px;
    color:rgba(255,255,255,0.5);
    top:50%;
    margin-top:-13px;
    font-weight:500;
    width:40px;
    text-align:center;
    transition:all 250ms ease;
}

.menu-item em{
    font-family:'Roboto', sans-serif;
    display:block;
    line-height:52px;
    font-style:normal;
    padding-left:75px;
    font-size:13px;
    font-weight:500;
    transition:all 250ms ease;
}

/*Submenu Items*/

.submenu-item{
    height:50px;
    color:#6b757d;
    transition:all 250ms ease;
}

.submenu-item em:hover{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.submenu-item i:first-child{
    position:absolute;
    font-size:11px;
    top:50%;
    margin-top:-4px;
    margin-left:75px;
}

.submenu-item i:last-child{
    position:absolute;
    font-size:5px;
    margin-left:232px;
    top:50%;
    margin-top:-1px;
    opacity:0.2;
}

.submenu-item em{
    font-family:'Roboto', sans-serif;
    display:block;
    line-height:52px;
    font-style:normal;
    padding-left:100px;
    font-size:12px;
    font-weight:500;
    transition:all 250ms ease;
}

.submenu-active{
    display:block;
    color:#FFFFFF;
}

.show-submenu{
    max-height:52px!important;
}

.submenu{
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
}

.submenu-active{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}


.submenu-item-active{
    display:block;
    color:#FFFFFF;
    transition:all 250ms ease;
}

.submenu-item-active .fa-circle{
    color:#27ae60!important;
    opacity:1!important;
}

.submenu-active strong{
    color:#FFFFFF;
    transition:all 250ms ease;
}

.snap-drawer, .snap-drawers{
    background-color:#272c2e!important;
}

.sidebar-menu{
    margin-bottom:30px;
}

.sidebar-divider{
    font-family:'Roboto', sans-serif;
    margin-top:10px;
    margin-bottom:20px;
    padding-bottom:5px;
    font-size:10px;
    padding-left:30px;
    font-weight:800;
    text-transform: uppercase;
    color:495254;
    border-bottom:solid 1px rgba(255,255,255,0.03);
}

.sidebar-footer{
    font-family:'Roboto', sans-serif;
    margin-bottom:10px;
    padding-top:10px;
    font-size:10px;
    padding-left:30px;
    font-weight:800;
    text-transform: uppercase;
    color:495254;
    border-top:solid 1px rgba(255,255,255,0.03);
}


.sidebar-logo{
    font-family:'Roboto', sans-serif;
    margin-top:0px;
    margin-bottom:20px;
    padding-bottom:5px;
    font-size:10px;
	padding:10px 0 10px 30px;
    font-weight:800;
    text-transform: uppercase;
    color:495254;
    border-top: solid 1px rgba(0,0,0,0.1);
	background-color:#FFF;
}

.sidebar-logo img {
    max-width: 200px;
	width:100%;
    //margin-top: 10px;
}




/*Sidebar Contact Form*/

.sidebar-form{
    width:220px;
    margin-left:20px;
}

.sidebar-form *{
    transition:all 400ms ease!important;
}

.sidebar-form .button{
    letter-spacing:normal;
    font-weight:600;
    font-family:'Open Sans', sans-serif;
}

.sidebar-form em{
    font-size:12px;
    font-style:normal;
    margin-bottom:20px;
    display:block;
    width:100%;
    padding:0px!important;
}

.sidebar-form .contactField{
    font-family:'Roboto', sans-serif;
    height:40px!important;
    line-height:40px!important;
    background-color:transparent;
    border:none;
    border-bottom:solid 1px rgba(255,255,255,0.08);
    margin-bottom:20px;
    padding-left:10px;
}

.sidebar-form .contactField:hover{
    color:#FFFFFF;
}

.sidebar-form .contactField:focus{
    color:#FFFFFF;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:solid 1px #2cc36b!important;
}

.sidebar-form .contactTextarea{
    height:40px;
    background-color:transparent;
    border:none;
    border-bottom:solid 1px rgba(255,255,255,0.08)!important;
    margin-bottom:40px;    
    padding-left:10px;
    transition:all 400ms ease;
}

.sidebar-form .contactTextarea:hover{
    color:#FFFFFF;
}


.sidebar-form .contactTextarea:focus{
    font-family:'Roboto', sans-serif;
    color:#FFFFFF;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:solid 1px #2cc36b!important;
    height:100px;
    transition:all 400ms ease;
}

.snap-drawer-right::-webkit-scrollbar { width: 0 !important }

.sidebar-form .formValidationError{
    font-size:11px!important;
    text-align:center;
    background-color:#c0392b;
    color:#FFFFFF;
    margin-bottom:20px;
}

.formSuccessMessageWrap{
    font-size:11px!important;
    text-align:center;
    background-color:#27ae60;
    color:#FFFFFF;
    margin-bottom:20px;
}


